.dishContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  width: 100%;
  gap: 1rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 175px;
  background-color: #325886;
  padding: 1rem;
  border: 1px solid rgba(236, 236, 236, 0.562);
  border-radius: 15px;
  box-shadow: 5px 5px 0px rgb(15, 15, 15);
}

.title {
  font-size: 22px;
}

.price {
  font-size: 16px;
  padding-left: 20px;
}

.ingredients {
  color: rgb(241, 235, 235);
}

.category {
  margin-top: auto;
}
